@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600&display=swap');

.click {
    background: $primary;
    padding: .9rem 1.4rem;
    text-decoration: none;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: .4rem;
    transition: all .4s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 .4rem #1d1d1d37;
        background: #fff;
        color: $primary;
    }
}

.banner {
    height: calc(300px + 5vh);
    background: lightgrey;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgba(0, 0, 0, .9),80%, rgba(0, 0, 0, 0.2)), url('./images/banner.jpg');
    background-position: center;
    background-size: cover;

    &.banner2 {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.9),80%, rgba(0, 0, 0, 0.2)), url('./contactimage.jpg');
        background-position: center;
        background-size: cover;
    }

    .bannertext {
        color: #fff;
        font-size: 1.7rem;
        max-width: 55%;
        padding: 0 2rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 800;
    }
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;

}


.page {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 5rem 2rem 4rem;
    max-width: 1500px;

    .heading {
        text-align: center;
        font-size: 2.1rem;
        position: relative;

        &::before {
            content: "";
            width: 100px;
            height: 3px;
            background: $primary;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -.4rem;
            border-radius: 2px;
        }
    }
}